<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="headerfiles">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}"/>
        <script th:src="@{/webjars/jquery/3.5.1/jquery.js}" ></script>
    </head>
    <body>
        <footer th:fragment="footer" class="my-5 text-muted text-center text-small">
            <p class="mb-1">© 2020 Dariawan</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Other pages</a></li>
            </ul>
        </footer>
    </body>
</html>