<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include = "fragments/common.html :: headerfiles"></th:block>
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">
            <a href="/"><h2>WebSocket</h2></a>
            <p class="lead">WebSocket Broadcast - with STOPM</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <div class="input-group">
                        <input type="text" id="form" class="form-control" placeholder="Choose a nickname"/>
                        <div class="btn-group">
                            <button type="button" id="connect" class="btn btn-sm btn-outline-secondary" onclick="connect()">Connect</button>
                            <button type="button" id="disconnect" class="btn btn-sm btn-outline-secondary" onclick="disconnect()" disabled>Disconnect</button>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group" id="sendmessage" style="display: none;">
                        <input type="text" id="message" class="form-control" placeholder="Message">
                        <div class="input-group-append">
                            <button id="send" class="btn btn-primary" onclick="send()">Send</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="content"></div>
                <div>
                        <span class="float-right">
                            <button id="clear" class="btn btn-primary" onclick="clearBroadcast()" style="display: none;">Clear</button>
                        </span>
                </div>
            </div>
        </div>
    </div>

    <footer th:insert="fragments/common.html :: footer"></footer>


</body>
</html>